<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.portablecollections.portablecollections">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/portablecollections_launcher"
        android:label="Portable Collections"
        android:roundIcon="@mipmap/portablecollections_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true">
        <activity android:name=".MainActivity" android:windowSoftInputMode="stateHidden|adjustResize">
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewCollectableActivity"
                />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
        </activity>

        <provider android:name="com.portablecollections.portablecollections.CollectableProvider"
            android:authorities="com.portablecollections.portablecollections">
        </provider>

        <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="com.portablecollections.portablecollections.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".NewCollectableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".CollectableDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>